.heroContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 32px;
}

.heroImageContainer {
  grid-column: 1 / 3;

  img {
    object-fit: cover;
  }
}

.callToAction {
  display: flex;
  align-items: flex-end;
  h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-family: "Inter Black", Arial, Helvetica, sans-serif;
  }
}

.heroDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--paragraph-font-size);
    color: var(--dark-grayish-blue);

    margin-bottom: 20px;
  }
}

@media screen and (max-width: 680px) {
  .heroContainer {
    grid-template-columns: 1fr;
  }

  .heroImageContainer {
    grid-column: 1;
  }
}
