@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(./static/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter Bold";
  font-style: bold;
  font-weight: 700;
  src: url(./static/Inter-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Inter Black";
  font-style: black;
  font-weight: 800;
  src: url(./static/Inter-ExtraBold.ttf) format("truetype");
}
