.articlesSidebarContainer {
  background-color: var(--very-dark-blue);

  padding: 32px;

  h1 {
    color: var(--soft-orange);
    font-size: 3rem;
    font-family: "Inter Bold", Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
  }
}
