.navBarContainer {
  width: 100%;
  height: fit-content;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuButton {
  display: none;
}

.navLinksContainer {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;

  & > li:nth-child(1) {
    a {
      margin-left: 0;
    }
  }
  a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 680px) {
  .overlay {
    position: fixed;

    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    animation: fade-in 0.3s forwards;

    backdrop-filter: blur(3px) brightness(50%);
    z-index: 1;
  }

  .closedMenu {
    transform: translateX(calc(100vw + 10px));
  }

  .menuButton {
    display: block;
    position: absolute;

    right: 0px;

    z-index: 999;
  }

  .navLinksContainer {
    position: fixed;
    flex-direction: column;
    background-color: white;

    z-index: 2;

    width: 60vw;
    height: 100vh;
    right: 0;
    top: 0;

    transition: transform linear 0.3s;

    padding: 2rem;
    padding-top: 30vh;

    gap: 1rem;

    a {
      margin: 0;
      font-size: 1.3rem;
      color: var(--very-dark-blue);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
